trigger:
- master

pool:
  vmImage: 'windows-latest'

variables:
 -group: cloudlicense-common-apiclients

steps:
- task: DotNetCoreCLI@2
  displayName: Build $(buildConfiguration)
  inputs:
    command: build
    projects: '**/*.csproj'
    arguments: '--configuration "Release"'

- task: NuGetCommand@2
  displayName: 'dotnet pack $(buildConfiguration)'
  inputs:
    command: 'pack'
    packagesToPack: '**/*.csproj'
    versioningScheme: 'byPrereleaseNumber'
    majorVersion: '1'
    minorVersion: '0'
    patchVersion: '0'

- task: NuGetCommand@2
  inputs:
    command: 'push'
    packagesToPush: '$(Build.ArtifactStagingDirectory)/**/*.nupkg;!$(Build.ArtifactStagingDirectory)/**/*.symbols.nupkg'
    nuGetFeedType: 'internal'
    publishVstsFeed: '6b88c8c8-3b17-46b6-b19d-5bef21ee5b26/829109b3-a654-4810-a0ee-09d0efb0fd3b'